@model Domain.Entities.Candy

@{
    ViewBag.Title = "Admin panel: Editing";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3>Editing page</h3>
    </div>

    @using (Html.BeginForm("Edit", "Admin",
        FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="card-body">
            @Html.HiddenFor(m => m.CandyId)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                switch (property.PropertyName)
                {
                    case "CandyId":
                    case "ImageData":
                    case "ImageMimeType":
                        
                        break;
                    default:
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            @if (property.PropertyName == "Description")
                            {
                                @Html.TextArea(property.PropertyName, null,
                                    new { @class = "form-control", rows = 5 })
                            }
                            else
                            {
                                @Html.TextBox(property.PropertyName, null,
                                    new { @class = "form-control" })
                            }
                            @Html.ValidationMessage(property.PropertyName)
                        </div>
                        break;
                }
            }
            <div class="card-group">
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inputGroupFile01" name="Image">
                </div>
                @if (Model.ImageData == null)
                {
                    <div class="form-control-file">No image</div>
                }
                else
                {
                    <img class="img-thumbnail" width="150" height="150"
                         src="@Url.Action("GetImage", "Candy",
                        new { Model.CandyId })" />
                }
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel changes", "Index", null, new
            {
                @class = "btn btn-default"
            })
        </div>
    }
</div>
