@using UI.ViewModels
@model CandiesListViewModel

@{
    ViewBag.Title = "Товары";
}

@foreach (var candy in @Model.Candies)
{
    <div>
        <h3>@candy.Name</h3>
        <p>@candy.Description</p>
        <h4>@candy.Price руб</h4>
    </div>
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>