@using UI.ViewModels
@using UI.HtmlUoW
@model CandiesListViewModel

@{
    ViewBag.Title = "Товары";
}

@foreach (var candy in @Model.Candies)
{
    <div class="card">
        <h3>
            <strong>@candy.Name</strong>
            <span class="float-right badge badge-info">@candy.Price руб</span>
        </h3>
        <span class="lead">@candy.Description</span>
    </div>
}

<div class="btn-group-lg float-sm-left">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>